@{
    ViewData["Title"] = "Index";
}
<style>
    .container {
        width: 45%;
        padding: 20px;
        display: inline-block;
    }

    .main-div {
        background-color: #e2e8f0;
    }

    table{
        justify-items: center;
    }

    @@media (max-width: 450px) {
        .main-div {
            display: flex;
            flex-direction: column;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        .container {
            width: fit-content;
        }
    }
</style>

<div class="main-div">
 
    <div class="container">
        <form id="frm1" action="Calculate.html">
            <table>
                <tr id="switch">
                    <td>Convert</td>
                    <td>
                        <input type="number" id="InputValue" placeholder="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="background-color: whitesmoke; border-radius: 5%; font-size: xx-large; text-align: center; " id="test-1"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="background-color: whitesmoke; border-radius: 5%; font-size: xx-large; text-align: center; " id="test"></p>
                    </td>
                </tr>
            </table>

            <input type="button" id="xxx" onclick="Calculate()" value="See the result">
            <p style="background-color: whitesmoke; border-radius: 5%; font-size: xx-large; text-align: center; " id="reset"></p>
        </form>
    </div>

    <div class="container" id="container">
        <div class="form-group">
            <label for="exampleFormControlSelect1">From (unit):</label>
            <select class="form-control" id="convertFrom">
                <option value="km">Kilometer</option>
                <option value="m">Meter</option>
                <option value="cm">Centimeter</option>
                <option value="mili">Millimeter</option>
                <option value="mile">Mile</option>
                <option value="yard">Yard</option>
                <option value="ft">Foot</option>
                <option value="inch">Inch</option>
                <option value="nautical">Nautical mile</option>
            </select>

            <label for="exampleFormControlSelect1">To (unit):</label>
            <select class="form-control" id="convertTo">
                <option value="toFt">Foot</option>
                <option value="toKm">Kilometer</option>
                <option value="toM">Meter</option>
                <option value="toCm">Centimeter</option>
                <option value="toMilim">Millimeter</option>
                <option value="toMile">Mile</option>
                <option value="toYard">Yard</option>
                <option value="toInch">Inch</option>
                <option value="toNautical">Nautical mile</option>
            </select>
        </div>
    </div>
</div>

    <script>
        function Calculate() {
            var UserInput = document.getElementById("InputValue").value;
    //km
            
            var OperandKmMiles = 1.609;
            var OperandKmFoot = 3281;
            var OperandKmMeter = 1000;
            var OperandKmCentimeter = 100000;
            var OperandKmYard = 1094;
            var OperandKmInch = 39970;
            var OperandKmNauticalMile = 1.852;
    //Foot
            var OperandFtMiles = 5280;
            var OperandFtMeter = 3.281;
            var OperandFtCentimeter = 30.48;
            var OperandFtYard = 3;
            var OperandFtInch = 12;
            var OperandFtNauticalMile = 6076;
    //Meter
            var OperandMetersMiles = 1609;
            var OperandMetersCentimeter = 100;
            var OperandMetersYard = 1.094;
            var OperandMetersInch = 39.37;
            var OperandMetersNauticalMile = 1852;
    //Centimeter
            var OperandCentimeterMiles = 160900;          
            var OperandCentimeterYard = 91.44;
            var OperandCentimeterInch = 2.54;
            var OperandCentimeterNauticalMile = 185200;
    //millimeter
            //var OperandMillimeterMiles = ;
            var OperandMillimeterFoot = 304.8;
            var OperandMillimeterMeter = 1000;
            var OperandMillimeterCentimeter = 10;
            var OperandMillimeterYard = 914.4;
            var OperandMillimeterInch = 25.4;
            //var OperandMillimeterNauticalMile = ;
    //mile
            var OperandMileYard = 1760;
            var OperandMileInch = 63360;
            var OperandMileNauticalMile = 1.151;
    //Yard               
            var OperandYardInch = 36;
            var OperandYardNauticalMile = 2025;
    //Inch
            var OperandInchNauticalMile = 72910;

            //function KilometersToMiles() {
            //    if (document.getElementById("km").innerHTML === "Kilometer" && document.getElementById("toMile").innerHTML === "Mile") {
                    var Result = UserInput / OperandKmMiles;
                    document.getElementById("test-1").innerHTML = UserInput;
                    document.getElementById("test").innerHTML = Result.toFixed(2);
                    document.getElementById("switch").innerHTML = "";
                    document.getElementById("xxx").style.display = "none";
                    document.getElementById("reset").innerHTML = "RESET";
            //    }
            //}
                document.getElementById("reset").onclick = function () {
                location.href = "https://localhost:7076/Length";
            };

            document.getElementById("container").style.display = "none";

        }
    </script>
