@{
    ViewData["Title"] = "Index";
}
<style>
    .container {
        width: 45%;
        padding: 20px;
        display: inline-block;
    }

    .main-div {
        background-color: #e2e8f0;
    }

    table{
        justify-items: center;
    }

    @@media (max-width: 450px) {
        .main-div {
            display: flex;
            flex-direction: column;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        .container {
            width: fit-content;
        }
    }
</style>

<div class="main-div">
 
    <div class="container">
        <form id="frm1" action="Calculate.html">
            <table>
                <tr id="switch">
                    <td>Convert</td>
                    <td>
                        <input type="number" id="Kilometers" placeholder="">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="background-color: aqua;" id="test"></p>
                    </td>
                </tr>
            </table>
            <input type="button" id="input" onclick="Calculate()" value="See the result">
        </form>
    </div>

    <div class="container">
        <div class="form-group">
            <label for="exampleFormControlSelect1">From (unit):</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Kilometer</option>
                <option>Meter</option>
                <option>Centimeter</option>
                <option>Millimeter</option>
                <option>Micrometer</option>
                <option>Nanometer</option>
                <option>Mile</option>
                <option>Yard</option>
                <option>Foot</option>
                <option>Inch</option>
                <option>Nautical mile</option>
            </select>

            <label for="exampleFormControlSelect1">To (unit):</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Foot</option>
                <option>Kilometer</option>
                <option>Meter</option>
                <option>Centimeter</option>
                <option>Millimeter</option>
                <option>Micrometer</option>
                <option>Nanometer</option>
                <option>Mile</option>
                <option>Yard</option>
                <option>Inch</option>
                <option>Nautical mile</option>
            </select>
        </div>
    </div>
</div>

    <script>
        function Calculate() {
            var LengthInput = document.getElementById("Kilometers").value;
            var Operand = 1.609;
            var Result = LengthInput / Operand;
            document.getElementById("test").innerHTML = Result;
            document.getElementById("switch").innerHTML = "";
            document.getElementsById("input").value = "";
        }
    </script>
