@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card{
        background-color:azure;

    }
</style>
<div class="cards">
    <div class="card">Length</div>
    <div class="card">Speed</div>
    <div class="card">Temperature</div>
    <div class="card">Volume</div>
    <div class="card">Weight</div>
    <div class="card">World clock</div>
</div>

