@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: rgb(206,241,174);
        background: linear-gradient(90deg, rgba(206,241,174,0.9948354341736695) 6%, rgba(78,255,0,1) 36%, rgba(25,176,198,1) 91%);
    }
    h1 {
        text-align: center;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        /*        background-color: #312e81;*/
        background-image: url('https://images.unsplash.com/photo-1586170737392-383ba61aca98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        padding: 40px;
    }
    /*    large screen*/
    .card {
        background: rgb(206,241,174);
        background: linear-gradient(90deg, rgba(206,241,174,0.9948354341736695) 6%, rgba(78,255,0,1) 36%, rgba(25,176,198,1) 91%);
        box-shadow: 0 3px 10px 0 #aaa;
        cursor: pointer;
        height: 300px;
        position: relative;
        width: 300px;
        padding: 15px;
    }
    .outer-div {
/*        background-color: aqua;*/
        background-image: url('https://images.unsplash.com/photo-1578059456805-cd4809a05d70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
        padding: 45px;
    }
/* Tablet screen*/

@@media (max-width: 768px) {
    .card {
        box-shadow: 0 3px 10px 0 #aaa;
        cursor: pointer;
        height: 180px;
        position: relative;
        width: 180px;
        padding:15px;
    }
    .img {
        /*        width:90px;*/
        padding: 5px 5px 5px 5px;
    }
}

/* Mobile screen*/

@@media (max-width: 450px) {
    .card {
        box-shadow: 0 3px 10px 0 #aaa;
        cursor: pointer;
        height: 120px;
        position: relative;
        width: 120px;
/*        background-image: url("https://images.unsplash.com/photo-1550985543-49bee3167284?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");*/
    }
    h1.hidden {
        visibility: hidden;
    }
    .outer-div {
        padding: 5px;
    }
    .img {
        padding: 1px 1px 1px 1px;
    }
}
</style>



<div class="outer-div">
    <div class="cards">
        @*length*@
                <div class="card">
                    <img class="img" src="https://images.unsplash.com/photo-1550985543-49bee3167284?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"/>
                    <h1 class="hidden">Length</h1>
                </div>
        @*speed*@
            <div class="card">
                <img class="img" src="https://images.unsplash.com/photo-1625484570102-bfdce602b797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1466&q=80" />
                <h1 class="hidden">Speed</h1>        
            </div>
        @*temperature*@
            <div class="card">
                <img class="img" src="https://images.unsplash.com/photo-1617713964860-a6ffc37721a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
                <h1 class="hidden">Temperature</h1>
            </div>
        @*volume*@
            <div class="card">
                <img class="img" src="https://images.unsplash.com/photo-1586808307735-14b57f452fff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
                <h1 class="hidden">Volume</h1>
            </div>
        @*wight*@
            <div class="card">
                <img class="img" src="https://images.unsplash.com/photo-1612012060851-20f943c02d3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
                <h1 class="hidden">Weight</h1>
            </div>
        @*World Clock*@
            <div class="card">
                <img class="img" src="https://images.unsplash.com/photo-1525562929550-63ef340cfe1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" />
                <h1 class="hidden">World Clock</h1>
            </div>

    </div>
</div>
 

